<div class="comments-display-fields">
  <span id="comments-additional-information">
    <%= _("Additional informations") %>
  </span>

  <span class="comments-arrow-down"></span>
</div>

<div class="comments-software-extra-fields">
  <div class="comments-software-people-benefited">
    <%= label_tag "comments_people_benefited", _("Number of Beneficiaries")%>
    <span class="star-tooltip" title="Quantidade de pessoas beneficiadas com a utilização do software"></span>
    <%= text_field_tag "people_benefited_tmp", "" %>
    <%= hidden_field_tag "organization_rating[people_benefited]", "" %>
  </div>

  <div class="comments-software-saved-values">
    <%= label_tag "comments_saved_value", _("Saved Resources")%>
    <span class="star-tooltip" title="Valores em “Real” economizados com a utilização do software"></span>
    <%= text_field_tag "saved_value_tmp", "", :placeholder=>"R$" %>
    <%= hidden_field_tag "organization_rating[saved_value]","" %>
  </div>
</div>
