div#header {
  height: 70px;
}

ul#login-menu {
  margin: 10px 0;
}

div#back-to-software {
  clear: both;
  width: 56px;
  height: 40px;
  border-right: 2px solid #CACACA;
  padding-right: 20px;
  padding-left: 10px;
  padding-top: 8px;
}
div#back-to-software span#back-arrow {
  font-size: 35px;
  color: #2C65CD;
  cursor: pointer;
}

div#logo {
  min-height: 70px;
}

div#logo-holder {
  margin-left: 10px;
}

span#portal-title-1 {
  font-size: 13px;
}

h1#portal-title {
  font-size: 24px;
}
