header #header {
	font-size: 62.5%;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
	padding: 14px 0 0 0;
    background-color: #EAEDF0;
    color: #fff;
    min-width: 960px;
}

header #header * {
    margin: 0;
    padding: 0;
    list-style: none;
}


header #header a {
    text-decoration: none;
}

header #header > div {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
    display: block;
}

header #header * li {
    display: inline;
}

header #accessibility {
	/*font-size: 1.1em;*/
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    float: left;
    width: 50%;
    margin-bottom: 18px;
}

header #accessibility a {
    color: #2C65CD;
    margin-right: 9px;
}

header #accessibility span {
    padding: 0 3px;
    background: #2C65CD;
    color: #fff;
}

header #second-nav {
    float: right;
}

header #portal-siteactions,
header #portal-language {
    border-bottom: 1px dotted #2C65CD;
}

header #portal-siteactions #siteaction-accessibility a {
	padding-left: 0;
}

header #portal-siteactions {
    display: block;
    float: left;
    clear: none;
    padding-bottom: 2px;
    font-size: 1.3em;
}

header #portal-siteactions a {
    padding: 4px 0 4px 17px;
}

header #portal-siteactions a{
    text-decoration: none;
    text-transform: uppercase;
}

header #portal-siteactions a,
header #portal-siteactions a:hover,
header #portal-language a,
header #portal-language a:hover {
    color: #2C65CD;
}

header #login-menu #user-menu .user {
    position: relative;
    top: -6px;
}

header #login-menu #user-menu .user img {
    width: 32px;
    height: 32px;
    border-radius: 90%;
}

header #login-menu #user-menu .user .carret {
    vertical-align: middle;
}

header #login-menu {
    float:right;
    display: block;
    clear: none;
    padding-bottom: 2px;
    font-size: 1.3em;
    padding-left: 17px;
}

header #login-menu a {
    font-size: 12px;
    padding: 5px 10px;
    color: #2C65CD;
}

header #login-menu a.btn-spb-profile {
    background-color: #2C65CD;
    border-color: #2C65CD;
    color: #FFF;
}

header #login-menu .login-item a {
    text-transform: uppercase;
    font-size: 11px;
}

header #login-menu-box {
    right: 0;
    left: auto;
}

header #portal-searchbox {
    border: 1px solid #CCC;
    float: right;
    clear: right;
    margin: 14px 0 0 0;
    padding: 0px 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    text-align: right;
    font-size: 1em;
    color: #777;
}

header #portal-searchbox form {
    white-space: nowrap;
}

header .LSBox {
    margin: 0;
    padding: 0;
    border: none;
}

header fieldset, header .editionComment {
    line-height: 1.5em;
    margin: 1em 0;
    padding: 0 1em 1em;
    width: auto;
}

header .hiddenStructure {
    display: block;
    background: transparent;
    background-image: none;
    border: none;
    height: 0.1em;
    overflow: hidden;
    padding: 0;
    margin: -0.1em 0 0 -0.1em;
    width: 1px;
}

header #portal-searchbox label {
    font-weight: normal;
    cursor: default;
}

header #portal-searchbox .searchField {
    padding: 0.4em 0.35em 0 0.35em;
    width: 192px;
    border: none;
    border-right: none;
    font-size: 1.4em;
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

header #header input.searchButton {
    background-position: 00 0;
    padding: 6px 5px 4px 15px;
    border: none;
    background-color: transparent;
    text-indent: -2000px;
}

header #logo {
    float: left;
    padding: 0;
    width: 70%;
    min-height: 101px;
}

header #logo span {
    position: absolute;
    display: block;
    line-height: 0.5em;
}

header #logo a, header #logo #portal-title {
    color: #2C65CD;
}

header #portal-title {
    font-size: 4.4em;
    font-family: "open_sansextrabold", Arial, Helvetica, sans-serif;
    margin-top: 13px;
}

header #portal-title-1,
header #portal-description {
	font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

header #portal-title-1 {
	/*font-size: 1.2em;*/
    font-size: 1.4em;
}

header #portal-description {
    font-size: 1.6em;
    margin-top: 10px;
    letter-spacing: 0.2px;
}

header #sobre {
    background: #D9DBDE;
    clear: both;
    margin: 0;
    padding: 6px 0 5px 0;
    max-width: 100% !important;
    position: relative;
}

header #sobre ul {
    margin: 0 auto;
    max-width: 960px;
    text-align: right;
}

header #sobre a {
    color: #2C65CD;
    font-size: 1.4em;
}

header #sobre a .caret {
    border-top: 4px dashed #2C65CD;
}


header #sobre .softwarepublico-item .dropdown-menu {
    margin-top: 10px;
}


header #sobre .softwarepublico-item .dropdown-menu:before,
header #second-nav .softwarepublico-item .dropdown-menu:before {
      position: absolute;
      top: -7px;
      left: 20px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
}

header #sobre .softwarepublico-item .dropdown-menu:after,
header #second-nav .softwarepublico-item .dropdown-menu:after {
      position: absolute;
      top: -6px;
      left: 21px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #fff;
      border-left: 6px solid transparent;
      content: '';
}

header #second-nav #login-menu-box {
    top: 23px;
    padding: 10px 4px;
}

header #user-menu .user-info span {
    color: #172738;
}

header #second-nav .softwarepublico-item .dropdown-menu:before {
    left: auto;
    right: 12px;
}

header #second-nav .softwarepublico-item .dropdown-menu:after {
    left: auto;
    right: 13px;
}
header #sobre .softwarepublico-item .dropdown-menu li {
    font-size: 0.65em;
    text-align: left;
    border-right: none;
}

header #sobre .softwarepublico-item .dropdown-menu li a {
    border-bottom: 1px solid #EAEDF0;
    padding: 8px;
}

header #sobre li.softwarepublico-item a {
    border-right: 1px solid #EAEDF0;
    /*border-right: 1px solid #2C65CD;*/
    padding: 0 8px;
}

header #sobre li.softwarepublico-item:last-child a {
    border-right: none;
    padding-right: 0;
}

header #sobre .softwarepublico-item li a:hover {
    background: #EAEDF0;
}

header #sobre .last-item a {
    padding: 0 0 0 8px;
    border-right: none;
}

header #social-icons {
    float: right;
    clear: right;
    margin: 13px 0 22px 0;
    display: none;
}

header #social-icons a,
header #header input.searchButton {
    background-image: url("../img/sprite.png");
}

header #social-icons a {
    display: block;
    overflow: hidden;
    margin: 0 0 0 2px;
    width: 20px;
    height: 20px;
    border: none;
    text-indent: 100%;
    white-space: nowrap;
    opacity: .85;
    filter: alpha(opacity=85);
    border-radius: 4px;
}

header #social-icons li {
    display: inline-block;
}

header #portalredes-facebook a {
    background-position: -80px -25px;
}

header #portalredes-googleplus a {
    background-position: -130px 0;
}

header #portalredes-instagram a {
    background-position: 69px -49px;
}

header #portalredes-twitter a {
    background-position: -155px -25px;
}

header #portalredes-youtube a {
    background-position: -130px -25px;
}

header #portalredes-soundcloud a {
    background-position: 20px 0;
}

header #portalredes-slideshare a {
    background-position: 45px 0;
}

header #portalredes-rss a {
    background-position: 145px -25px;
}

header .thumbnail {
    min-width: 80px;
    max-width: 80px;
}
