# MANAGED WITH CHEF; DO NOT CHANGE BY HAND

upstream noosfero {
  server 127.0.0.1:9000 fail_timeout=10s;
}

server {
  listen *:80;
  server_name <%= node['config']['external_hostname'] %> <%= node['peers']['social'] %>;
  underscores_in_headers  on;
  access_log            /var/log/nginx/noosfero.access.log;
  error_log             /var/log/nginx/noosfero.error.log;
  client_max_body_size  150m;

  root /usr/lib/noosfero/public;
  location /social/ {
    alias /usr/lib/noosfero/public/;
    try_files $uri @noosfero_proxy;
  }
  try_files $uri @noosfero_proxy;

  location @noosfero_proxy {
    proxy_pass              http://noosfero;
    proxy_read_timeout      90;
    proxy_connect_timeout   90;
    proxy_redirect          off;
    proxy_set_header        Host <%= node['config']['external_hostname'] %>;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
  }

}
